/CREDIT CARD FRAUD DETECTION/creditcard.csv
/IRIS FLOWER CLASSIFICATION/IRIS.csv
/SALES PREDICTION USING PYTHON/advertising.csv
/TITANIC SURVIVAL PREDICTION/Titanic-Dataset.csv
/MOVIE RATING PREDICTION WITH PYTHON/IMDb Movies India.csv